#square {
  height: 50px;
  width: 50px;
  background-color: orange;
  position: relative;
  display: inline-block;
  top:50px;

}

/*
#laser {
height: 30px;
width: 10px;
background-color: red;
position: relative;
}*/

body {
  background-color: black;
  margin-top: 0;
}




.left {
display: inline-block;
border-left: 400px solid purple;
border-bottom: 40px solid transparent;
border-top:  20px solid transparent;
margin-bottom: 200px;
position: relative;

}
#six{
  border-left: 500px solid purple;
  margin-bottom: 300px;

}

#five{
border-right: 400px solid purple;


}
.right{
  float:right;
  display: inline-block;
  border-right: 600px solid purple;
border-bottom: 50px solid transparent;
border-top:  50px solid transparent;
margin-bottom: 200px;
position: relative;

}

#eight{
  margin-bottom: 9000px;
}

#main{
  border: 2px solid white;
  height: 700px;
  width: 75%;
  margin-left: 200px;
position: sticky;
overflow: hidden;
display: inline-block;

}
/*img{
transform: rotate(90deg);
display: inline-block;
bottom: 1200px;
position: relative;
}*/
