#square {
    height: 100px;
    width: 100px;
    position: relative;
    display: inline-block;
}

body {
    background-color: #444244;
    margin-top: 0;
    background-size: cover;
}

#main {
    height: 700px;
    width: 75%;
    margin-left: 200px;
    overflow: scroll;
    display: inline-block;
    overflow-x: hidden;
    border: 2px solid black;
}

.row {
    height: 130px;
    margin-bottom: 50px;
    position: relative;
}
